* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
