.userid_body {
    display: grid;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    align-items: center;
}

.userid_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.userid_buttons_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userid_button {
    border: none;
    background: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}
