.users_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    gap: 10px 10px;
    margin: 10px;
}

.heading {
    text-align: center;
}
