.userid_body {
    display: grid;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    align-items: center;
    background-color: #FFF;
    margin: 30px;
    height: 80vh;
    border-radius: 5px;
}

.userid_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.userid_buttons_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userid_button {
    padding: 10px;
    border: none;
    background: #FFF;
    cursor: pointer;
    font-size: large;
}

.userid_img {
    border-radius: 5px;
}
